<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Bis2bis\Publishers\Api\PublisherRepositoryInterface" type="Bis2bis\Publishers\Model\Api\PublisherRepository" />
    <preference for="Bis2bis\Publishers\Api\Data\PublisherInterface" type="Bis2bis\Publishers\Model\Publisher" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!-- Data Source will be mentioned in listing xml -->
                <item name="bis2bispublishers_listing_data_source" xsi:type="string">Bis2bis\Publishers\Model\ResourceModel\Publisher\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bis2bis\Publishers\Model\ResourceModel\Publisher\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">bis2bis_publishers</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Bis2bis\Publishers\Model\ResourceModel\Publisher</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="publisher_import" xsi:type="object">Bis2bis\Publishers\Console\Command\ImportPublishers</item>
            </argument>
        </arguments>
    </type>
</config>
